*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "DM Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #222;
  background-color: #fff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

h1 {
  font-size: 12rem;
  font-weight: inherit;
}

h2 {
  font-size: 5.2rem;
  text-transform: uppercase;
  line-height: 1.25;
}

.button {
  display: inline-block;
  background-color: #3190e8;
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-block: 0.8rem;
  padding-inline: 2.5rem;
  border-radius: 5px;
  border: 1px solid #000000;
  box-shadow: 0 4px 4px 0 #000000;
}

.section__main {
  width: 100%;
  min-height: 100vh;
  padding-block: 12rem;
  padding-inline: 6rem;
}

:has(> .highlight) {
  position: relative;
  z-index: 0;
}

.highlight {
  display: inline-block;
  position: relative;
  font-weight: bold;
  color: #ffffff;
}
.highlight::after {
  content: "";
  position: absolute;
  left: -1%;
  top: 0;
  width: 110%;
  height: 85%;
  background-color: #3190e8;
  z-index: -1;
}

.header {
  position: absolute;
  z-index: 1;
  width: 100%;
  padding-right: 6rem;
  height: 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  padding: 2.5rem;
}
.header__logo img {
  height: 6rem;
}
.header__nav {
  font-size: 2.5rem;
}
.header__nav ul {
  width: 100%;
  display: flex;
  gap: 5rem;
  letter-spacing: 0.2rem;
}
.header__nav__my-uxspace {
  border: 1px solid #000000;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2509803922);
  background-color: white;
}
.header__nav__events, .header__nav__job-postings {
  text-transform: uppercase;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: url(../images/hero-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f9f9fb;
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: lighten;
}
.hero__content {
  height: 100%;
  text-transform: uppercase;
}
.hero__content__title {
  font-weight: 700;
}
.hero__content__description {
  text-align: center;
  font-size: 4.5rem;
  letter-spacing: -2px;
}
.hero__social {
  align-self: self-start;
}
.hero__social ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}
.hero__social__linkedin {
  margin-bottom: 0.4rem;
}
.hero {
  position: relative;
}
.hero__scroll {
  position: absolute;
  right: 1rem;
  bottom: 10rem;
  writing-mode: sideways-lr;
  text-transform: uppercase;
  font-size: 1.3rem;
}
.hero__scroll::before {
  content: url("../images/hero-arrow.svg");
  position: absolute;
  transform: translateY(110%) translateX(-5%);
}

.story {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #edf0f9;
  padding-right: 12.6rem;
}
.story__content {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.story__content__title {
  text-transform: capitalize;
  font-weight: bold;
}
.story__content__description {
  margin-block: 2.5rem;
  font-weight: bolder;
  font-size: 2.5rem;
}
.story__content .button {
  margin-top: 12rem;
}
.story__visual {
  transform: translateY(150px);
}

.portfolio {
  background-color: #cecece;
}
.portfolio__description {
  margin-bottom: 5rem;
}
.portfolio__description__headline {
  max-width: 70%;
  font-size: 5.2rem;
  line-height: 1.25;
  margin-bottom: 5rem;
}
.portfolio__description__deck {
  max-width: 50%;
  font-size: 2.5rem;
  border-left: 3px solid #000000;
  margin-left: 8rem;
  padding-left: 2.5rem;
  padding-block: 0.8rem;
}
.portfolio__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}
.portfolio__title h2 {
  font-size: 4rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  font-weight: inherit;
}
.portfolio__title a {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.portfolio__list {
  display: flex;
  gap: 2.5rem;
}
.portfolio__list__item a {
  display: flex;
  flex-direction: column;
}
.portfolio__list__item__artist {
  color: #ffffff;
  background-color: rgba(61, 61, 61, 0.8);
  transform: translateY(-100%);
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.uxspace {
  padding-left: 12rem;
  padding-right: 6rem;
  padding-bottom: 20rem;
  grid-template-columns: 5fr 4fr;
  display: grid;
}
.uxspace__content {
  padding-left: 5rem;
  padding-right: 6.6rem;
  padding-top: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
}
.uxspace__content::before {
  content: url("../images/uxspace-illustration..svg");
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
}
.uxspace__content__title .highlight::after {
  border: 1px solid #000000;
}
.uxspace__content p {
  margin-block: 2.5rem;
  font-size: 2.4rem;
}
.uxspace__content .button {
  margin-top: 8rem;
}

.event {
  padding-inline: 12rem;
  padding-top: 20rem;
  background-color: #cecece;
  display: grid;
  grid-template-columns: 5fr 6fr;
}
.event__content {
  grid-row: 1/2;
  grid-column: 2/span 1;
  padding-inline: 5rem;
}
.event__content h2 {
  max-width: 50rem;
}
.event__content p {
  margin-block: 5rem;
  font-size: 2.4rem;
}
.event__visual {
  margin: 2.5rem;
  grid-row: 1/2;
  grid-column: 1/span 1;
}
.event__visual__roma {
  transform: translateX(80%) translateY(-85%);
  position: relative;
  z-index: 1;
}
.event__visual__milano {
  position: relative;
  z-index: 2;
}

.career {
  padding-inline: 8rem;
  display: grid;
  grid-template-columns: 6fr 5fr;
}
.career__content {
  margin-left: 8rem;
  margin-right: 14rem;
  margin-top: 20rem;
}
.career__content h2 {
  max-width: 40rem;
}
.career__content p {
  margin-block: 5rem;
  font-size: 2.4rem;
}
.career__visual {
  width: 85%;
  margin-left: 8rem;
  display: flex;
  gap: 1.6rem;
}
.career__visual__column {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.career__visual__column :last-child {
  mask-image: linear-gradient(rgb(0, 0, 0) 50%, transparent 100%);
}
.career__visual {
  mask-image: linear-gradient(transparent 0%, rgb(0, 0, 0) 20%);
}

.contact {
  margin-inline: 5rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 40rem;
}
.contact p {
  font-size: 2.4rem;
  max-width: 13rem;
  position: relative;
  gap: 1.2rem;
}
.contact p::after {
  content: url("../images/contact-arrow.svg");
  width: 100%;
  position: absolute;
  transform: translateY(-50%) translateX(2rem);
}
.contact__link {
  font-size: 6.3rem;
  text-transform: initial;
  flex-grow: 4;
  display: inline-block;
}
.contact__link::after {
  content: "";
  display: block;
  width: 120%;
  border-bottom: 1px solid #000000;
}
.contact__button {
  font-size: 4rem;
  background-color: #000000;
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact__button img {
  filter: brightness(0) invert(1);
}

/*# sourceMappingURL=styles.css.map */
