@use 'variables' as *;
@use 'sass:map';

.button {
  display: inline-block;

  background-color: map-get($map: $colors, $key: 'accent');
  color: map-get($map: $colors, $key: 'font-accent');
  font-size: map-get($map: $font-sizes, $key: 'xl');
  font-weight: bold;
  text-transform: uppercase;

  padding-block: map-get($map: $spacing, $key: 'sm');
  padding-inline: map-get($map: $spacing, $key: 'lg');

  border-radius: 5px;
  border: $border-base;
  box-shadow: $shadow-dark;
}
