@use 'variables' as *;
@use 'sass:map';

// Section
.section__main {
  width: 100%;
  min-height: 100vh;

  padding-block: map-get($map: $spacing, $key: '4xl');
  padding-inline: map-get($map: $spacing, $key: '2xl');
  // paddingは要素の内側の余白
  // margin はsectionと外側との距離 -> sectionタグにmarginがついてるのは変。
}

// Highlight
:has(> .highlight) {
  position: relative;
  z-index: 0;
}
.highlight {
  display: inline-block;
  position: relative;
  font-weight: bold;
  color: map-get($map: $colors, $key: 'font-accent');

  &::after {
    content: '';
    position: absolute;
    left: -1%;
    top: 0;
    width: 110%;
    height: 85%;
    background-color: map-get($map: $colors, $key: 'accent');
    z-index: -1;
  }
}

// Header
.header {
  position: absolute;
  z-index: 1;
  width: 100%;

  padding-right: map.get($map: $spacing, $key: '2xl');
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    padding: map.get($map: $spacing, $key: 'lg');
    img {
      height: $header-height * 0.5;
    }
  }

  &__nav {
    font-size: map-get($map: $font-sizes, $key: 'xl');

    ul {
      width: 100%;
      display: flex;
      gap: map-get($map: $spacing, $key: 'xl');
      letter-spacing: map-get($map: $spacing, $key: '2xs');
    }

    &__my-uxspace {
      border: $border-base;
      box-shadow: $shadow-light;
      background-color: white;
    }

    &__events,
    &__job-postings {
      text-transform: uppercase;
    }
  }
}

// Hero
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  background: {
    image: url(../images/hero-background.png);
    size: cover;
    position: center;
    repeat: no-repeat;
    color: map-get($map: $colors, $key: 'bg-base');
    color: rgba(255, 255, 255, 0.6);
    blend-mode: lighten;
  }

  &__content {
    height: 100%;
    text-transform: uppercase;

    &__title {
      font-weight: 700;
    }

    &__description {
      text-align: center;
      font-size: map-get($map: $font-sizes, $key: '3xl');
      letter-spacing: -2px;
    }
  }

  &__social {
    align-self: self-start;

    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: map-get($map: $spacing, $key: 'lg');
    }
    &__linkedin {
      margin-bottom: map-get($map: $spacing, $key: 'xs');
    }
  }

  position: relative;
  &__scroll {
    position: absolute;
    right: 1rem;
    bottom: 10rem;
    writing-mode: sideways-lr;
    text-transform: uppercase;
    font-size: map-get($map: $font-sizes, $key: 'sm');

    &::before {
      content: url('../images/arrow.svg');
      position: absolute;
      transform: translateY(110%) translateX(-5%);
    }
  }
}

// Story
.story {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: map-get($map: $colors, $key: 'bg-light-blue');
  padding-right: map-get($map: $spacing, $key: '5xl') * 0.9;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: start;

    &__title {
      text-transform: capitalize;
      font-weight: bold;
    }
    &__description {
      margin-block: map-get($map: $spacing, $key: 'lg');
      // margin-right: map-get($map: $spacing, $key: 'xl');
      font-weight: bolder;
      font-size: map-get($map: $font-sizes, $key: 'xl');
    }
    .button {
      margin-top: map-get($map: $spacing, $key: '4xl');
    }
  }

  &__visual {
    transform: translateY(150px);
  }
}

.portfolio {
  background-color: map-get($map: $colors, $key: 'bg-light-black');

  &__description {
    margin-bottom: map-get($map: $spacing, $key: 'xl');

    &__headline {
      max-width: 70%;
      font-size: map-get($map: $font-sizes, $key: '4xl');
      line-height: 1.25;
      margin-bottom: map-get($map: $spacing, $key: 'xl');
    }

    &__deck {
      max-width: 50%;
      font-size: map-get($map: $font-sizes, $key: 'xl');
      border-left: $border-thick;
      margin-left: map-get($map: $spacing, $key: '3xl');
      padding-left: map-get($map: $spacing, $key: 'lg');
      padding-block: map-get($map: $spacing, $key: 'sm');
    }
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: map-get($map: $spacing, $key: 'lg');

    h2 {
      font-size: map-get($map: $font-sizes, $key: '2xl');
      text-transform: capitalize;
      letter-spacing: map-get($map: $spacing, $key: '3xs');
    }

    a {
      font-size: map-get($map: $font-sizes, $key: 'lg');
      text-transform: uppercase;
      letter-spacing: map-get($map: $spacing, $key: '3xs');
    }
  }

  &__list {
    display: flex;
    gap: map-get($map: $spacing, $key: 'lg');

    &__item {
      a {
        display: flex;
        flex-direction: column;
      }

      &__artist {
        color: map-get($map: $colors, $key: 'font-accent');
        background-color: rgba(map-get($map: $colors, $key: 'bg-dark'), 0.8);
        transform: translateY(-100%);
        height: 3.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

// My UxSpace
.uxspace {
  padding-left: map-get($map: $spacing, $key: '4xl');
  padding-right: map-get($map: $spacing, $key: '2xl');
  padding-bottom: map-get($map: $spacing, $key: '5xl');
  grid-template-columns: 5fr 4fr;
  display: grid;

  &__content {
    padding-left: map-get($map: $spacing, $key: 'xl');
    padding-right: map-get($map: $spacing, $key: '2xl') * 1.1;
    padding-top: map-get($map: $spacing, $key: 'sm');

    display: flex;
    flex-direction: column;
    align-items: start;

    position: relative;
    &::before {
      content: url('../images/uxspace-illustration..svg');
      position: absolute;
      display: inline-block;
      top: 0;
      left: 0;
    }

    &__title {
      text-transform: uppercase;
      font-weight: bold;
      font-size: map-get($map: $font-sizes, $key: '4xl');

      .highlight::after {
        border: $border-base;
      }
    }

    p {
      margin-block: map-get($map: $spacing, $key: 'lg');
      font-size: map-get($map: $font-sizes, $key: 'lg') * 1.2;
    }

    .button {
      margin-top: map-get($map: $spacing, $key: '3xl');
    }
  }
}
